
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: rgb(70, 172, 220);
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$text-shadow: 2px 2px rgba(0,0,0,0.3);

$grid-gutter-width: 0 !default;


.btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: $blue;
}