@import "~normalize.css/normalize.css";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

// Variables
@import 'variables';

body {
  background-color: rgb(15,29,59);
  background: linear-gradient(rgba(15,29,59,0.8),rgba(15,29,59,0.8)), url('~/img/headerport.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import 'components/navigation';
@import 'components/home';
@import 'components/modal';
@import 'components/projects';
@import 'components/contact';
@import 'components/footer';
@import 'components/card';
