.card_custom {
  position: relative;
  width: 100%;
  height: 100%;

  .card_body {
    position: absolute;
    bottom: 0;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 100%;
    color: white;
    cursor: pointer;

    .card_info {
      min-height: 8em;
      width: inherit;
      position: absolute;
      bottom: 0;

      .card_info_buttons {
        float: right;

        a {
          border: 0;
          color: white;
        }
      }
    }
  }
}

.md-content {
  height: auto !important;
}

.btn {
  background-color: rgba(0, 0, 0, .4);
}

.card_custom:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
}