.header {
    .balk {
        background-color:white; height: .5em; width: 2.5em; margin-bottom: 8px; z-index: 3;
    }
    .main_title{
        font-weight: bold;
        text-shadow: $text-shadow;
    }
    .secondary_title {
        font-weight: 300;
        text-shadow: $text-shadow;
    }
    .social {
        a {
            color: white;
            font-size: 2em;
        }
    }
    .home-buttons {
        color: white; border: 1px solid white; border-radius: 0
    }
    .notice {
        position: absolute; bottom: 0; right: 0; left: 0;
    }
}
.laravel {
    font-weight: bold;
    color: #f55247
}
.digitalocean {
    font-weight: bold;
    color: #008bcf
}