#projectModal {
  .modalHeader {
    width: 100%;
    height: auto;
  }
  .modalHeaderContainer {
    .row {
      height: 100%;
      .modalProjectImg {
        border: 5px solid white;
      }
      .modalTitleContainer {
        width: 100%;
        .modalTitle {
          margin-top: 1em;
          color: white;
          text-shadow: 2px 2px black
        }
        .techTag {
          display:none;
        }
      }
    }

  }
  .content-container{
    .btn {
      border:0; color: white;
    }
  }
}
@include media-breakpoint-up(md) {
  #projectModal {
    .modalHeader {
      width: 100%;
      height: auto;
    }
    .modalHeaderContainer {
      height: 15em;
      .row {
        height: 100%;
        .modalProjectImg {
          position:absolute;
          top: 5em;
          border: 5px solid white;
        }
        .modalTitleContainer {
          position: absolute;
          bottom: 0;
          left: 20px;
          width: 100%;
          .modalTitle {
            color: white;
            text-shadow: 2px 2px black
          }
          .techTag {
            background-color: #f8f9f9;
            float:left;
            border: 1px solid #dee2e6;
            i {
              color: #94979b;
            }
          }
        }
      }

    }
    .content-container{
      .btn {
        border:0; color: white;
      }
    }
  }

}
@include media-breakpoint-up(lg) {
  #projectModal {
    .modalHeader {
      width: 100%;
      height: auto;
    }
    .modalHeaderContainer {
      height: 15em;
      .row {
        height: 100%;
        .modalProjectImg {
          position:absolute;
          top: 5em;
          border: 5px solid white;
        }
        .modalTitleContainer {
          position: absolute;
          bottom: -3.5em;
          left: 20px;
          width: 100%;
          .modalTitle {
            font-size: 4em;
            color: white;
            text-shadow: 2px 2px black
          }
          .techTag {
            display: block;
            background-color: #f8f9f9;
            float:left;
            border: 1px solid #dee2e6;
            i {
              color: #94979b;
            }
          }
        }
      }

    }
    .content-container{
      .btn {
        border:0; color: white;
      }
    }
  }

}
