.break-line {
  background-color: rgba(255, 255, 255, 0.61) !important;
  margin-top: 0;
}

.header {
  h1, h2, h3 {
    color: white;
  }

  h1 {
    font-size: 60px;
  }

  h3 {
    font-style: italic;
  }

}

nav {
  .nav-item a {
    color: white !important;
  }

  .nav-item a:hover {
    color: ghostwhite !important;
  }

  .bg-transparent {
    background-color: rgba(0, 0, 0, 0)
  }

  .active {
    border-bottom: 1px solid white;
    font-weight: bold !important;
  }

  .navbar-brand {
    color: white !important;
  }

  .navbar-brand:hover {
    color: whitesmoke !important;
    font-weight: bold;
  }
}
